@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
    .segmented-control-container {
        flex-wrap: wrap;
    }
    #contacts,
    #projects {
        height: fit-content;
    }

}

@media screen and (max-width: 1200px) {

    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 7%;
    }
    .hamburger-icon {
        height: 32px;
        width: 40px;
    }
    .hamburger-icon.open span:first-child {
        transform: rotate(45deg) translate(12px, 8px);
    }
    .hamburger-icon.open span:last-child {
        transform: rotate(-45deg) translate(12px, -8px);
    }
    .logo {
        font-size: 3rem;
    }
    .btn {
        width: 30%;
        height: 80px;
        border-radius: 4rem;
        font-size: 1.8rem;
    }
    .section__text__p1 {
        font-size: 3rem;
    }
    .title {
        font-size: 3.5rem;
    }
    .section__text__p2 {
        font-size: 2.5rem;
    }
    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }
    .about-containers {
        display: flex;
        flex-direction: column;
    }
    .about-containers article div{
        font-size: 1.5rem;
    }
    .icon {
        height: 3.5rem;
    }
    article {
        width: auto;
    }
    .article-container {
        justify-content: left;
        padding: 15px;
    }

    #profile,
    .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section,
    .section-container {
        height: fit-content;
    }
    section {
        margin: 5% 5%;
    }
    .section__pic-container, .profpic-nico{
        width: 600px;
        height: 600px;
        margin: 0 auto 2rem;
    }
    .section__pic-container1, .about-pic {
        width: 300px;
        height: 300px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
    .details-container1{
        text-align: left;
        font-size: 17px;
    }
    .wowo {
        justify-content: center !important;
    }
    .text-container {
        text-align: center;
        font-size: 17px;
    }
    .segmented-control-container {
        width: 100%;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    #contact,
    footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p1{
        font-size: 2rem;
    }
    .section__text__p2 {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 1200px) {
    .timeline {
        display: block;
    }

    .timeline ol li div {
        width: 350px;
        height: 150px;
        font-size: 22px;
    }
    .timeline::before,
    .timeline::after {
        width: 50px;
    }

    .timeline ol li:not(:first-child) {
        margin-left: 40px;
    }

    .timeline::before {
        left: 0;
    }

    .timeline .info {
        display: none;
    }
}